<html>
 <head>
 <title>CRUD Time</title>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <style>
 table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
 }
 </style>
 </head>
 <body>
 <a href="/inserir/time">Inserir Novo Time</a> | <a href="read">Ver todos</a> <br> <br>
 <table style="width:100%">
 
 <tr>
     <th>Id</td>
     <th>Nome</td>
     <th>Fundação</td>
     <th>Excluir?</td>
     <th>Alterar?</td>
 </tr>
 

   
 </tr>
 </table>
 </body>
</html>